body {
  font-family: var(--font-main);
  font-weight: 400;
  color: var(--text-main);
  background-color: var(--color-bg);
}
.container {
  max-width: 1792px;
  margin: 0 auto;
  padding: 0 40px;
}
.app {
  display: flex;
  flex-direction: column;
}
.btn {
  font-size: 34px;
  line-height: 117.647059%; /* 40/34 */
  padding: 10px 20px;
  border-radius: 15px;
  background-color: var(--text-main);
  color: var(--color-bg);
  text-transform: capitalize;
}
.btn__castling {
  color: var(--text-main);
  background-color: var(--color-bg);
}

@media (max-width: 1700px) {
  .container {
    padding: 0 32px;
  }
  .btn {
    font-size: 28px;
  }
}

@media (max-width: 1200px) {
  .container {
    padding: 0 22px;
  }
}

@media (max-width: 1024px) {
  .btn {
    font-size: 24px;
  }
}

@media (max-width: 996px) {
  .container {
    padding: 0 34px;
  }
}

@media (max-width: 740px) {
	.container {
    padding: 0 16px;
  }
	.btn {
    font-size: 20px;
  }
	.btn__castling {
		font-size: 24px;
	}
}